doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title HTML Audio Keyboard
    meta(name="description" content="")
    link(href="https://fonts.googleapis.com/css?family=Condiment" rel="stylesheet")
    link(rel="stylesheet" href="css/main.min.css")
  body
    .wrap
      .controls-container
        .speakers
        .controls
          .input-container
            h2 Keyboard 5000
            .input-buttons
              .demo-buttons
                div
                  button.demo-button.demo1
                  div 1
                div
                  button.demo-button.demo2
                  div 2
                div
                  button.demo-button.demo3
                  div 3
                div
                  button.demo-button.demo4
                  div 4
                div
                  button.help
                  div Help
              div.demo-label Demos
          div.inputs
            input(type="range" class="volume" step="0.1" min="0" max="1")
            input(type="range" class="tempo" min="2" max="8")
          div.input-labels
            div Volume
            div Tempo
        div.speakers

      .keyboard
        .div(data-note="c4" data-key="81" class="key white oct") q
        .div(data-note="db4" data-key="50" class="key black black1 oct") 2
        .div(data-note="d4" data-key="87" class="key white oct") w
        .div(data-note="eb4" data-key="51" class="key black black2 oct") 3
        .div(data-note="e4" data-key="69" class="key white oct") e
        .div(data-note="f4" data-key="82" class="key white oct") r
        .div(data-note="gb4" data-key="53" class="key black black3 oct") 5
        .div(data-note="g4" data-key="84" class="key white oct") t
        .div(data-note="ab4" data-key="54" class="key black black4 oct") 6
        .div(data-note="a4" data-key="89" class="key white oct") y
        .div(data-note="bb4" data-key="55" class="key black black5 oct") 7
        .div(data-note="b4" data-key="85" class="key white oct") u
        .div(data-note="c5" data-key="88" class="key white") x
        .div(data-note="db5" data-key="68" class="key black black6") d
        .div(data-note="d5" data-key="67" class="key white") c
        .div(data-note="eb5" data-key="70" class="key black black7") f
        .div(data-note="e5" data-key="86" class="key white") v
        .div(data-note="f5" data-key="66" class="key white") b
        .div(data-note="gb5" data-key="72" class="key black black8") h
        .div(data-note="g5" data-key="78" class="key white") n
        .div(data-note="ab5" data-key="74" class="key black black9") j
        .div(data-note="a5" data-key="77" class="key white") m
        .div(data-note="bb5" data-key="75" class="key black black10") k
        .div(data-note="b5" data-key="188" class="key white") ,
        .div(data-note="c6" data-key="190" class="key white") .

  script(src='js/bundle.min.js')
